<%- include('../partials/header') %>

    <div id="all-books">
        <h1>All Books</h1>
    </div>
    <div id="all-books-card" class="card">
        <table>
            <thead>
                <tr>
                    <th>Title</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(function(b) { %>
                    <tr>
                        <td>
                            <br>
                            <%= b.title %>
                        </td>
                        <td><a href="/books/<%= b._id %>">DETAILS</a></td>

                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>

    <%- include('../partials/footer') %>