<%- include('../partials/header') %>

    <h2>Add A Book</h2>
    <form id="new-form" action="/books" method="POST">
        <label>Title:
            <input type="text" name="title">
        </label><br>
        <label>Author:
            <input type="text" name="author">
        </label><br>
        <label>Year Published:
            <input type="number" name="yearPublished">
        </label><br>
        <label>Category:
            <select name="category">
                <option value="Fiction">Fiction</option>
                <option value="Non-Fiction">Non-Fiction</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Drama">Drama</option>
                <option value="Action">Action</option>
                <option value="Comedy">Comedy</option>
                <option value="Biography">Biography</option>
            </select>
        </label><br>
        <label>Is the book a movie too?</label>
        <input type="checkbox" name="isMovieToo" checked>
        </label><br>
        <input type="submit" value="Add A Book!">
    </form>


    <%- include('../partials/footer') %>