body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "nav" "main";
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #E8ECEB;
    padding: 20px;
    overflow-y: scroll;
    background: url('https://i.imgur.com/nQ74az4.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #00B7FF;
}

nav>img {
    width: 40px;
    object-fit: contain;
    margin-right: auto;
}

body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

.navbar {
    background: #3c6d24;
}

.nav-link,
.navbar-brand {
    color: yellow;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000;
}

.navbar-collapse {
    justify-content: flex-end;
}


/* .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
} */

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}


/* p {
    text-align: center;
    padding: 100px;
    color: darkblue;
    font-size: 40px;
} */

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: black;
}

.description p {
    color: black;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
}

#new-form {
    margin-top: 60px;
}

#add-comment-form {
    text-align: center;
}

#add-comment-form input[type="submit"] {
    width: 8rem;
    margin-bottom: 2rem;
}

#card-show {
    margin-left: 170px;
    margin-top: 50px;
    justify-items: center;
    align-items: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

#comment-details {
    align-items: center;
}

#all-books {
    margin-top: 50px;
}

th {
    text-align: center;
}

#add-book {
    width: 300px;
}


/* ul {
    margin: 0 0 1rem;
    padding: 0;
    list-style: none;
} */


/* li {
    font-weight: bold;
} */


/* .card {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    background-color: white;
} */


/* p {
    margin-top: 10px
} */

h3 {
    margin-top: 100px;
}