<%- include('../partials/header') %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p><strong>Please first ensure that the Author is not in the dropdown</strong>
        <select>
    <% authors.forEach(function(author) { %>
      <option><%= author.firstName %></option>
      <option><%= author.lastName %></option>
    <% }) %>
  </select>
    </p>
    <form id="add-author-form" action="/authors" method="POST">
        <label>First Name:</label>
        <input type="text" name="first-name" placeholder="first name">
        <label>Last Name:</label>
        <input type="text" name="last-name" placeholder="last name">
        <input type="submit" value="Add Author">
    </form>

    <%- include('../partials/footer') %>